* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
button {
  width: 130px;
  height: 50px;
  background-color: darkgoldenrod;
  color: #fff;
  font-weight: 600;
  border-radius: 32px;
  outline: none;
}
.dayLight {
  width: 100vw;
  height: 100vh;
  background: url("./images/day-light.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}
.night {
  width: 100vw;
  height: 100vh;
  background: url("./images/night-mod.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.danger {
  text-align: center;
  padding-top: 10rem;
  width: 100vw;
}
.danger h1 {
  display: inline-block;
  color: red;
  border-bottom: 3px solid red;
}
.success {
  text-align: center;
  padding-top: 10rem;
  width: 100vw;
}
.success h1 {
  display: inline-block;
  color: #7fff00;
  border-bottom: 3px solid #7fff00;
}
.btn {
  width: 100vw;
  margin-top: 2rem;
}
